* {
  box-sizing: border-box;
  margin: 5px;
}

html {
  background-color: black;
}

section {
  border: 3px dimgrey solid;
  width: 32.2%;
  float: left;
  position: relative;

  background-color: darkblue;
}

img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  object-fit: contain;
}

section:hover p.quote{
  display: block;
}

p.quote {
  display: none;
  color:  white;
  padding: 10px;
  padding-top: 60px;
  text-align: center;
}

section:hover img{
  display: none;
}
h1 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

section > span {
  background-color: slategrey;
}

span p.title {
  color:  white;
  padding:  0px;
  text-align: center;
  font-weight: bold;
}

span {
  border: 2px solid dimgrey;
  position: absolute;
  width: 45%;
  height: fit-content;%;
  top: 0;
  bottom: 0;
  right: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  section.first {
    width: 45%;
  }

  section.second {
    width: 50%;
  }
  section.third {
    width: 100%;
  }
}

@media (max-width: 767px) {
  section {
    width: 100%;
  }
}